.example{
    background: green;
    color: black;
    padding: 10px 15px;
    border-radius: 6px;
    width: 50%;
    margin-left: 80px;
    

}
.list{
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 6px;
    align-items: center;
    
}